body{
    background-color: #F8F2DC;
}

.header{
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
}

.container .first > img{
    padding-left: 30px;
    width: 100px;
    height: 100px;
    align-items: center;
}
.second{
    display: flex;
    flex: 1;
    align-items: center;
    gap:100px
}
.card{
    flex:1;
}

p{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: black;
}

.text-section{
    text-align: center;
    padding: 0px 100px;
}

h1{
    font-size: 3rem;
    color: rgb(109, 44, 28);
}

.text-section > p{
    font-size: 1.2em;
}

body > div > div.section-1 > div.image-section > img:nth-child(2){
    box-shadow: 0px 0px 30px rgb(122, 122, 122);
    border-radius: 50px;
    margin-top: 2%;
    margin-left: 25%;
    width: 800px;
    height: auto;
}

body > div > div.section-1 > div.image-section > img:nth-child(1){
    position: absolute;
    height: 250px;
    width: auto;
    margin-top: 440px;
    margin-left: 250px;
}

body > div > div.section-1 > div.image-section > img:nth-child(3){
    position: absolute;
    height: 250px;
    width: auto;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding: 60px;
}

.coffee-2 {
    width: 800px;
    border-radius: 50px;
    float: right;
}

.text-section-2 {
    max-width: 400px;
    text-align: right;
}

h2 {
    font-size: 2rem;
    color: rgb(109, 44, 28);
}
